*{
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
}
/*************************HEADER***********************************/
.header{
    width: 100%;
    height:350px;
    display:block;
    background-image: url(../images/starwberry_banner.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
  
}
.inner_header{
    width:1000px;
    height:100%;
    display:block;
    margin: 0 auto;
    
}
.logo_container{
    height:100%;
    display: table;
    float:left;
}
.logo_container h1{
    color:white;
    height:100%;
    display:table-cell;
    vertical-align: middle;
    font-size: 65px;
    font-weight: 100;
    font-family: 'Fredericka the Great', cursive;;

}
.logo_container h1 span{
    font-weight: 900;
}
.logo_container h2{
    color:aliceblue;
    font-size: 10px;
   
    
}
.socialmedia{
    display: flex;
    
}
.navigation{
    float:right;
    height:100%;

}
.navigation li{
    height:10%;
    display:grid;
    table-layout: 6;
    float:left;
    padding: 0px 20px;
    background-color: #125215;
}
.navigation li a{
    display: table-cell;
    vertical-align: middle;
    height:100%;
    width: auto;
    color: aliceblue;
    font-family: 'Shadows Into Light', cursive;
    font-size:20px;
    

}
.navigation li a:hover{
    background-color: aqua;
    border-radius: 12%;
}

/*************************BODY***********************************/
body{
    background-color: rgb(81, 112, 60);
}
.container{
    margin: 100px;
    padding: 10px;
    border: #00093c solid 7px;
    border-radius: 2%;
    position: relative;
    min-height:200vh ;
    max-height:max-content;
    background-color: #125215;
    
}
.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    font-family: 'Courier New', Courier, monospace;

    }
    
.div1 { grid-area: 1 / 1 / 2 / 2;
        border: #00093c solid 5px;
        padding: 20px;
        border-radius: 15%;
        margin: 10px;
        background-color: rgb(130, 194, 88) }
.div1 h1{
    text-align: center;

}
.div2 { grid-area: 2 / 1 / 2 / 2;
        border: #00093c solid 5px;
        padding: 5px;
        border-radius: 15%;
        margin: 5px;
        background-color: rgb(130, 194, 88) }
.div3 { grid-area: 1 / 2 / 4 / 4;
        
        padding: 2px;
        box-sizing: border-box;
        
        
        margin: 5%; }
.fruit{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border: #00093c solid 5px;
    border-radius: 15%;
}
.div3:hover .fruit {
    opacity: 0.3;
  }
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
.div3:hover .middle {
    opacity: 1;
  }
  
.text {
    background-color: #c50bbc;
    border-radius: 12%;
    color: white;
    font-size: 36px;
    padding: 1px 3px;
  }
.div4 { grid-area: 3 / 1 / 3 / 5;
        border: #00093c solid 5px;
        padding: 5px;
        border-radius: 15%;
        margin: 5px;
        background-color: rgb(130, 194, 88) }
.call_to_action{
        padding: 10%;
        margin:2%;
}
.div4 h1{
        text-align: center;
}
.div4 h2{
    text-align: center;
}
.div4 li{
    text-align: center;
    font-size: 30px;
    border: #000 solid 5px;
    padding: 2%;
    color:red;
}
.div5 { grid-area: 1 / 4 / 3 / 5;
        border: #00093c solid 5px;
        padding: 5px;
        border-radius: 15%;
        margin: 5px;
        background-color: rgb(130, 194, 88) }
.div5 h5{
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    color: #fff;
}
.div5 p{
    text-align: center;
    font-size: 25px;
    text-decoration: wavy;
    background-color: rgb(10, 102, 10);
    color: #fff;
}
.div5 .kids .children_img{
    border-radius: 30%;
    border: #00093c solid 4px;

}

.kids{
    padding: 15px;
    text-align: center;
    
    
}
.children{
    padding: 5px;
}
.div6 { grid-area: 4 / 1 / 6 / 2;
        display: none; }
.fruit_of_the_month{
    padding: 5%;
    text-align: center;

}
.pineapple{
    border: #00093c solid 5px;
    border-radius: 10%;
}
.fruit_of_the_month h1{
    margin: 10%;
    text-align: center;

}
.fruit_of_the_month p{
    font-size: 30px;
}
.div7 { grid-area: 4 / 1 / 6 / 3;
        border: #00093c solid 5px;
        border-radius: 15%;
        background-color: rgb(130, 194, 88) }
.div8 { grid-area: 4 / 3 / 6 / 5;
        color: #fff;
        padding: 10px;
        margin: 10px;
        }
.div8 h1{
    text-align: center;
    text-decoration: underline;
}
.the_box{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 12px;
}
.the_farmers{
    margin: 1px;
    padding: 15%;
    border: #00093c solid 3px;
    border-radius: 10%;
    font-size: 12px;
    text-align: center;
    background-color: rgb(130, 194, 88);
    color: #fff;
}

.farmer_of_the_valley{
    border-radius: 30%;
    border: #00093c solid 4px;
    background-color: #fff;
}
.div9 { grid-area: 4 / 4 / 6 / 5;
        display: none;
        /*border: #00093c solid 5px;
        border-radius: 15%;
        background-color: rgb(130, 194, 88)*/ }

/*************************FOOTER***********************************/
footer{
width:100%;
position:relative;
bottom: 0;
background: linear-gradient(to right, #00093c, #2d0b00);
color:#fff;
padding:100px 0 30px;
border-top-left-radius: 125px;
font-size: 13px;
line-height: 20px;
margin-top: auto;
}
.logo{
    width: 200px;
    height:auto;
    border-radius: 20px;
    
}
.row{
    width:85%;
    margin: auto;
    display: grid;

    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    

}
.col{
    flex-basis: 25%;
    padding: 10px;
    text-align: center;
   
    
}
.col p{
    text-align: center;
    padding: 3px;
    
}
.collis{
    border: #fff solid 6px;
    padding: 10px;
}
.col h3{
    
    margin-bottom: 40px;
    position: relative;
    text-align: center;
}
.email-id{
    text-align: center;
    border-bottom: 3px solid #ccc;
    margin:20px 0;
}
.col .navigation{
   text-align: center;
   border: #00093c solid 2px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   
}
.col .navigation a{
    padding: 10px;
}
.line{
    border: #71e72d solid 5px;
    border-radius: 23%;
    text-align: center;
    font-size: 20px;
    background-color: #125215;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



/************************Contact page+ Fresh********************************/
.contact_box{
    border: #d8f008 solid 6px;
    padding: 20%;
    margin: 10%;
}
.contact_box h1{
    text-align: center;
    color: #fff;
    border: #000 solid 3px;
    background-color: #71e72d;
}
form fieldset{
    margin: 2rem 0 ;
    border: 5px solid yellow;
    border-radius: 12px;
    padding: .5rem 2;
    background-color: #80df73;
    color: #fff;
}
form legend{
    color: #fff;
    margin: 5%;
    padding: 1%;
    border: #000 solid 2px;
    background-color: #70f722;
    border-radius: 8%;
    font-size: 30px;
  
}
form label.top input, form label.top select{
    -webkit-appearance: none ;
    display: block;
    margin: auto;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 12%;
    padding: 3%;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);

}
form label.sbs{
    display:block;
    padding: .75rem 0;
    color: #ca28bd;

}
form input.submitBtn{
    border:1px;
    background-color:red;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required{
    border-left: red solid 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}
.contact_box input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
}
.intro_box{
    text-align: center;
    color: #fff;
}
.drinksss{
    border: #fff solid 5px;
    border-radius: 20%;
}

/************************About Us*******************************/


.next_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap:5%;
    grid-column-gap: 5px;
    
}
.next_box{
    
    color: #fff;
    text-align: center;
}
.next_box h1{
    font-size: 30px;
    font-family: 'Shadows Into Light', cursive;
    text-decoration: underline;
}
.next_box p{
    font-size: 25px;
    font-family: 'Fredericka the Great', cursive;
}
.next_box2{
    margin: auto;
    padding: 50%;
    
    
    
}
.box_img{
    border:#000 solid 7px;
    border-radius: 50%;
}
.final_divid{
    border: #000 solid 5px;
    text-align: center;
    background-color: #348538;
}
.final_divid h1{
    font-size: 50px;
    font-style: italic;
    color: #fff;
    
}
.final_divid p{
    font-weight: bold;
}