@media screen and (max-width: 649px){
    #page-container{
        position: relative;
        min-height: 350vh; /*changes the background size so your grid fits the page**/
        background-color: #f8cb8d;
        height: 100%;
        width: fit-content;
        margin: 0;
        padding: 10px;
    }
    .boxes{
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(8,1fr);
        padding: 30px;
        height: 100vh;
        justify-content: center;
        align-items:normal;
        object-fit: cover;
    }
    
    .div1{
        grid-column: auto; 
        grid-row: span 2 200;
    }
    .div2:nth-child(2),.div4:nth-child(4){
        display: none;
    }
    .div3{
        grid-column: auto; 
        grid-row: span 2 ;
        overflow:visible;
        align-items:center;
        object-fit:contain;
        padding: 100px;
        
    }
    .div3 img{
        max-width: 100%;
        height: auto;
        border-radius: 12px;
        object-fit: cover;
        padding: 0px;
        align-items:normal;
        margin: auto;
        display: block;
        overflow:visible;
    }
    .tet{
        text-justify: auto;
        text-align: center;
        padding: 10px;
    }
    .div5{
        grid-column: auto; 
        grid-row: 5;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
    }
    .spot1{
        grid-column: auto; 
        grid-row: 1fr ;
    }
    .spot2{
        grid-column: auto; 
        grid-row: 1fr ;
    }
    .spot3{
        grid-column: auto; 
        grid-row: 1fr ;
    }
    .div6{
        grid-column: auto; 
        grid-row: 6 ;
    }
    .div7{
        grid-column: auto; 
        grid-row: 7;
        overflow:visible;
        align-items:center;
        object-fit:contain;
        padding: 100px;
        width: 50%;
        height: 50%;
    }




    .div8{
        grid-column: auto; 
        grid-row: 8;
    }




    
    nav button{
        margin:2rem 2vw;
        background:transparent;
        border: bisque solid;
        font-size: 2rem;
        color: #555;
        


    }
    nav ul{
        list-style-type: none;
        padding:0;
        margin: 0;
    }
    .topnav{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    nav ul li a {
        display:block;
        padding: .8rem 2vw;
        text-decoration: none;
        color:black;
        border-top: 1px rgba(0,0,0,0.5);

    }
   
    



    #hamButton {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: fit-content;
        font-size: 1.5rem;
        padding: .5rem;
        color: navy;
    }
    #hamButton span:nth-child(1){
        display:block;
    }
    #hamButton span:nth-child(2){
        display:none;
    }
    #hamButton.open span:nth-child(1){
        display:block;
    }
    #hamButton.open span:nth-child(2){
        display:none;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: #333;
    }
    .navigation li {
        display: none;
    }
    .navigation li a {
        padding: 1.15rem;
        display: block;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }
    .navigation li a:hover {
        background-color: #0f0e0e;
        color: #333;
        font-weight: 700;
    }


 nav ul li a:hover{
        background-color: rgb(8, 10, 10,0.3);

    }
    .navigation.responsive li {
        display: block;
        width: 100%;
    }
    .navigation.responsive li a {
        display: block;
    }


    .parent10{


    
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows: auto;
        grid-column-gap: 2px;
        grid-row-gap: 2px;
        text-align: center;
        margin: 15%;
        color: #fff;
        border-left: #333333 solid 10px;
        border-right: #333333 solid 10px;
    }
    
    

    #footer{
    
        text-align: center;
        bottom: 0;
        width: 100%;
        height: 2.5rem;
    
    }
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: span 2;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        font-weight: bold;
        background-color:#E98074;
        
    }
    .testty{
        border-top:#333 double;
        border-bottom: #333 double;
    }
    .line {
        position: relative;
        background-color: #E85A4F ;
        color: #8e13e0;
    
      }
      
      .line::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: black; /* Adjust the color as needed */
      }
    
        
        
    
       
        .logooo img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 50%;
            max-height:fit-content;
        }


        .place{

            transition: none;
        }
        .place:hover{
            -ms-transform: none; /* IE 9 */
            -webkit-transform: none; /* Safari 3-8 */
            transform: none;
        }

        .anotherGrid{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 1fr 1fr 1fr;
            grid-column-gap: 5px;
            background-color: #E98074;
    
        }
        .anotherone .anotheroneteen{
            grid-area: 2 / 1 / 3 / 3;
            margin:auto;
            padding: 10%;
            
        }
    
        .anotherone{
            grid-column: auto auto;
            grid-row: auto span 2;
            padding-right: 10%;
            
            
        }


}