#page-container{
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    min-height: 100vh;
    background-color: #f8cb8d;
    height: 100%;
    margin: 0;
}
header{
    padding: 20px 10px;
    background-color: #E98074 ;
    border-bottom: 1px solid #bbb;
    
}
header p{
    text-align: center;
}
.logo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    
}
.gridlogo img{
    max-width: 55%; 
    height: auto;
    grid-template-columns: 1;
}
.test{
    display: flex;
    font-size: 65px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
/**.topnav {
    overflow: hidden;
    background-color: #333;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #069af0;
    color: white;
  }**/
  
  nav {
	max-width: 700px;
	margin: 10px auto;
}


#hamButton {
	display: none;
}
.navigation {
	display:flex;
	flex-direction: row;
    background-color: #333;
    
    

}
.navigation li {
	display: inline-block;
    flex: 1 1 auto;
    color: #880a0a;

    text-decoration: none;
}
.navigation li a {
	padding: 1.15rem;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}
.navigation.responsive li {
	display: block;
	width: 100%;
}
.navigation.responsive li a {
	display: block;
}


#footer{
    
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    position:bottom;

}
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    font-weight: bold;
    background-color: #E98074 ;
    
}
.logooo img{
    max-width: 100%; 
    height: auto;
}
.testty{
    text-align: center;
    font-style: italic;
    font-size: 55px;
    padding: 70px 0;
}
.info{
    text-align: center;
    font-style: italic;
    font-size: x-large;
    padding: 70px 0;
}
.line {
    position: relative;
    background-color: #E85A4F ;
    color: #080808;

  }
  
  .line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black; /* Adjust the color as needed */
  }

.time{
    margin-top: 5px;
    width: 90;
	border: 1px solid #bbb;
	padding: 0.75rem 1rem;
	background-color: #7748f8;
    color: rgb(240, 58, 185);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}







.boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    color:rgb(6, 7, 7);
    border: 2px solid rgb(10, 0, 9);
    padding: 30px;
    height: 100vh;
    
    }
.div1 { grid-area: 1 / 1 / 2 / 2;
    border: 2px solid #000; /* Set the border style and color */
    padding: 10px; }
.div2 { grid-area: 1 / 2 / 2 / 3;
    }
.div3 { grid-area: 1 / 2 / 3 / 4; 
    border: 2px solid #000; /* Set the border style and color */
    padding: 10px; }
.div4 { grid-area: 1 / 4 / 2 / 5; }
.div5 { grid-area: 1 / 4 / 4 / 5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 5px;
    border: 2px solid #000; /* Set the border style and color */
    padding: 10px; }

.spot1{
    border: 2px solid #000; /* Set the border style and color */
    padding: 10px;
}
.spot2{
    border: 2px solid #000; /* Set the border style and color */
    padding: 10px;
}
.spot3{
    border: 2px solid #000; /* Set the border style and color */
    padding: 10px;
}
.div6 { grid-area: 2 / 1 / 3 / 2; 
    border: 2px solid #000; /* Set the border style and color */
    padding: 10px; }
.div7 { grid-area: 3 / 1 / 4 / 2; 
    border: 2px solid #000; /* Set the border style and color */
    padding: 10px; }
.div8 { grid-area: 3 / 2 / 4 / 4; 
    border: 2px solid #000; /* Set the border style and color */
    padding: 10px; }
