.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3;
    grid-gap: 20px;
}
.box {
    grid-column: 1;
    width: 90%;
    max-width: 450px;
    justify-self: center;
}
.box1{
    grid-column: 1;
    width: 90%;
    max-width: 450px;
    justify-self: center;
}
footer{
    grid-column-start: 1;
    text-align: center;
}