header {
    padding: 20px;
    background: #1af085;
    color: white;
    align-items: center;
    border-radius: 15px 50px 30px 5px; 
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;

  }
  
.logo{

    margin: 10px;
    grid-area: 1 / 1 / 2 / 2;
}

.title{

    font-size: 50px;
    color: #333;
    margin: 10px;
    
    text-align: left;
    font-family: "Lucida Console";
    grid-area: 1 / 2 / 2 / 3;

}


  h1{
    font-family: "monospace";
    font-weight: bold;
    text-align: center;


  }
  h2{

    text-align:left;

  }
  
footer{
    padding: 20px;
    background: #0ae879;
    text-align: center;
    font-size: 25px;
}
